#landing-main{
    background-image: url("../image/puzzle.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;

    @media @mobile{
      
     max-width: 100%;
     max-height: 100%;
    
    }

    @media @inbetween {
       border: pink dotted;
       height: 28rem;
    }

    @media @screen {
        height: 35rem;
        
    }

    @media @big{
        height: 50rem;
    }

   

    h2{
        font-size: 2.5rem;
        white-space: nowrap;
        align-self: center;
        color:@white;
    
    @media @screen {
        font-size: 3rem;
    }

    }


    p{
     align-self: center;   
     color: @white;
     padding: 1%;
     font-size: 1.5rem;
    
     @media @screen {
         font-size: 1.6rem;

     }
    }

    .btn{
     align-self: center; 
     .pushIt();
     margin-top: 5%;

     

     @media @screen {
         width: 15%;
         margin: initial;
         margin-top: 2%;
     }
    .btn:hover{
        color: red;
    }
    }


}

.landing-intro{
     display: flex;
     justify-content: center;
     border-bottom: @primary .1rem dashed;
     padding-top: 1%;

    p{
      width: 95%;
      align-content: center;
      font-size: 1.2rem;
      padding-bottom: 2%;
      color: @dark;
     
   

    }
}