.navbar{
    
    


    nav{
       display: flex;
       flex-direction: column;
       align-items: center;
       white-space: nowrap;
       padding: 1%;
       border-bottom: @primary .1rem dashed;
       padding-bottom: 2%;
       

      
    
        @media @mobile{
            border: blue solid .2rem;
            flex-direction: row;
            padding: initial;
            background-color: @dark;
            padding: 1%;
       
        }

        @media @screen{
            border: red .2rem dashed;
        }


        h1{
            padding-top: 2%;
            padding-bottom: 2%;
            font-size: 2rem;
            font-weight: bolder;
            color: @dark;
    
         @media @mobile{
             flex: 2;
             padding: initial;
             padding-left: 2%;
             color: @white;
             font-weight: initial;
         } 

         @media @screen{
            flex: 6;
             
         }
        
        }
    
        

        a{
            text-decoration: none;
            font-size: 1.2rem;
            border: .1rem solid @primary;
            padding: 1%;
            width: 75%;
            text-align: center;
            padding: 1%;
            border-radius: .5rem;
            color: @dark;
            font-weight: bold;
            margin: .25%;

        @media @mobile{
            padding: initial;
            border:none;
            width: initial;
            padding-right: 3%;
            color: @white;
            font-weight: initial;
        
        }

        @media @screen{
            flex: 1;
    
        
        }

    

            
        }

        a:hover{
            color: darken(@yellow, 10%);
               }    

        

    }


}

