header{
    


    nav{
        display: flex;
        justify-content: center; 
        padding: 4%;
        color:  darken(@colortwo, 30%);

    
        

        a{
            font-size: 1.75rem;
            text-decoration: none;
            padding: .2%;
            white-space: nowrap;
        }

    a:hover{
        color: darken(@colortwo, 50%);
    }    

        

    }


}

